.form-check {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    border-radius: 5px; /* Pour arrondir les bords */
}

/* Style lorsqu'une réponse est sélectionnée */
.form-check.bg-primary {
    background-color: rgb(177, 123, 24);
    box-shadow: 0 0 10px rgb(73, 51, 9), 0.8;
    border: 2px solid rgb(204, 92, 0); 
    color: white;
}
/* Effet de survol sur les options */
.form-check:hover {
    background-color: rgb(214, 196, 161);
}